<section>
  <% @jobs.each do |job| %>
    <div>
      <h1><%= job.title %></h1>
    </div>
    <div>
      <% if job.featured? %>
        <strong>'Vaga em Destaque'</strong>
      <% end %>
    </div>
    <div>
      <%= job.company.name %>
    </div>
    <div>
      <%= job.location %>
    </div>
    <div>
      <%= link_to job.title, job%>
    </div>
  <% end %>
</section>
