<section>
  <% @jobs.each do |job| %>
    <div>
      <h1><%= job.title %></h1>
    </div>
    <div>
      <%= job.company %>
    </div>
    <div>
      <%= job.location %>
    </div>
    <%= link_to job.title, job%>
  <% end %>
</section>
